<?xml version="1.0"?>
<!--
/**
 * Magendoo ProductLabels - Admin menu
 *
 * @copyright Copyright (c) Magendoo (https://magendoo.ro)
 * @license   https://opensource.org/licenses/OSL-3.0 OSL-3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magendoo_ProductLabels::labels"
             title="Product Labels"
             translate="title"
             module="Magendoo_ProductLabels"
             sortOrder="60"
             parent="Magento_CatalogRule::promo"
             action="magendoo_productlabels/label/index"
             resource="Magendoo_ProductLabels::labels"/>
    </menu>
</config>
