<?xml version="1.0"?>
<!--
/**
 * Magendoo ProductLabels - Admin routes
 *
 * @copyright Copyright (c) Magendoo (https://magendoo.ro)
 * @license   https://opensource.org/licenses/OSL-3.0 OSL-3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="magendoo_productlabels" frontName="magendoo_productlabels">
            <module name="Magendoo_ProductLabels" before="Magento_Backend"/>
        </route>
    </router>
</config>
